#accueil:target{
	padding-top: 7rem;
	margin-top: -7rem;
	.autoplay{
		display: none;
	}
	.vitrineM{
		img{
			display: block;
			width: 90%;
			height: auto;
			margin: 0 auto;
			margin-bottom: 1rem;
		}
	}
	h2{
    	font-family: 'Raleway', sans-serif;
    	font-size: 1rem;
		padding: 1rem;
    }
	p{
		font-family: 'Raleway', sans-serif;
		padding: 0 1rem 3rem 1rem;
	}
}

@media screen and (min-width: 760px){
	#accueil{
		.autoplay{
			display: block;
		}
		.vitrineM{
			display: none;
		}
	}
}