@font-face {
    font-family: 'Viner Hand ITC';
    src: url('VinerHandITC.eot');
    src: url('VinerHandITC.eot?#iefix') format('embedded-opentype'),
        url('VinerHandITC.woff2') format('woff2'),
        url('VinerHandITC.woff') format('woff'),
        url('VinerHandITC.svg#VinerHandITC') format('svg');
    font-weight: normal;
    font-style: normal;
}

