*{
	margin: 0;
	padding: 0;
}
:root{
	--fontTitle1: 'Pacifico', cursive;
	--fontSizeTitle1M: 1.8rem;
}
html{
	font-size: 16px;
	body{
		position: relative;
		main{
			width: 100%;
			max-width: 1200px;
			margin: 0 auto;
			margin-top: 7rem;
		}
	}
}


