#accueil:target{
	padding-top: 7rem;
	margin-top: -7rem;
	.autoplay{
		display: none;
	}
	h2{
    	font-family: 'Raleway', sans-serif;
    	font-size: 1rem;
		padding: 1rem;
    }
	p{
		font-family: 'Raleway', sans-serif;
		padding: 0 1rem 3rem 1rem;
	}
}