.fixed{
	position: fixed;
	top: 0;
	width: 100%;
	height: 75px;
	z-index: 5000;
	background-color: white;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-bottom: 1px solid snow;
    box-shadow: -3px 3px 12px silver;
	padding: .8rem 0 .5rem 0;




	a{
		width: 15%;
		display: block;
		text-align: center;
		color: black;
		text-decoration: none;
		cursor: pointer;
		.fas.fa-bars{
			display: block;
			font-size: 1.8rem;
			padding: 1rem 0 1rem 0;
		}
	}



	h1{
		width: 85%;
	    font-family: var(--fontTitle1);
	    font-size: var(--fontSizeTitle1M);
	    font-family: 'Pacifico', cursive;
	    font-size: 1.8rem;
	    line-height: 2rem;
	    text-align: center;
	    background: url(images/site/cover1.png) no-repeat top -35px left -11px;
    	background-size: 127px 117px;
	}





	nav{
		width: 50%;
		height: 100vh;
		position: absolute;
		top: 0;
		/*right: -50%;*/
		right: 0;
		background-color: black;
		transition: right 1s ease;
		/*&:target{
			right: 0;
		}*/
		ul{
			li{
				list-style-type: none;
				border-bottom: 1px solid white;
				padding: 1.5rem 0 1.5rem 1rem;
				a{
					font-family: 'Raleway', sans-serif;
					text-decoration: none;
					color: white;
					cursor: pointer;
					font-size: 1.2rem;
				}
			}
		}
		.other{
			.facebook:before{
				content:'f09a';
			}
		}
	}
	


}


@media screen and (min-width: 501px) and (orientation: landscape) and (max-width: 760px){
	.fixed{
		h1{
			background: url(images/site/cover1.png) no-repeat top -35px left 118px;
			background-size: 127px 117px;
		}
	}
}


@media screen and (min-width: 761px){
	.fixed{
		a{
			display: none;
		}
		h1{
			width: 20%;
			text-align: left;
		}
		nav{
			position: relative;
			width: 75px;
			background-color: white;
			ul{
				display: flex;
				justify-content: space-around;
				li{
					a{
						color: black;
					}
				}
			}
		}
	}
}
/*
	.fixed{
		height: 100px;
		h1{
			font-size: 3rem;
			line-height: 3rem;
		}
		nav{
			margin: 2.3rem auto 1.5rem;
			ul{
				display: flex;
				justify-content: space-around;
				li{
					width: 18%;
					border-top: 1px solid black;
					border-bottom: 1px solid black;
					padding-top: .4rem;
					padding-bottom: .4rem;
					a{
						color: black;
						font-size: 1.1rem;
						line-height: 1.1rem;
						display: block;
						text-align: center;
					}
				}
			}
		}
	}	
}
@media screen and (min-width: 991px){
	.fixed{
		height: 200px;
		h1{
			font-size: 2.4rem;
			background: url("images/site/carre.png") no-repeat 40%,
		                url("images/site/cover.jpg") no-repeat 40% 50%;
            background-size: contain;
			padding-top: 3rem;
    		padding-left: 6rem;
		}
	}
}*/
