.fixed{
	width: 100%;
	max-width: 1200px;
	height: 75px;
	padding: 1rem;
	position: fixed;
	z-index: 5000;
	background-color: white;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border: 1px solid green;
	nav{
		// display: none;
		position: absolute;
		top: 0;
		left: -50%;
		width: 50%;
		background-color: black;
		transform: left 1s ease;
		&:target{
			left: 50%;
		}
		ul{
			li{
				list-style-type: none;
				a{
					font-family: 'Raleway', sans-serif;
					text-decoration: none;
					color: white;
				}
			}
		}
	}
	a{
		width: 20%;
		display: block;
		color: black;
		text-decoration: none;
		cursor: pointer;
		border: 1px solid red;
		.fas.fa-bars{
			display: block;
			font-size: 2rem;
			cursor: pointer;
			background: url("images/site/logo.png") no-repeat;
			background-size: cover;
			padding: 2rem;
		}
	}
	h1{
		width: 80%;
		font-family: 'Pacifico', cursive;
		font-family: 'Dancing Script', cursive;
		font-size: 2.1rem;
		text-align: left;
		border: 1px solid red;
	}
	.line{
		height: 2px;
		width: 100%;
		background: linear-gradient( to left, silver, black, silver);
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
	}
}


@media screen and (min-width: 501px){
	.fixed{
		height: 50px;
		h1{
			/*br{
				display: none;
			}*/
		}
	}

}
@media screen and (min-width: 761px){
	.fixed{
		height: 100px;
		h1{
			font-size: 3rem;
			line-height: 3rem;
		}
		nav{
			margin: 2.3rem auto 1.5rem;
			ul{
				display: flex;
				justify-content: space-around;
				li{
					width: 18%;
					border-top: 1px solid black;
					border-bottom: 1px solid black;
					padding-top: .4rem;
					padding-bottom: .4rem;
					a{
						color: black;
						font-size: 1.1rem;
						line-height: 1.1rem;
						display: block;
						text-align: center;
					}
				}
			}
		}
	}	
}
@media screen and (min-width: 991px){
	.fixed{
		height: 200px;
		h1{
			font-size: 2.4rem;
			background: url("images/site/carre.png") no-repeat 40%,
		                url("images/site/cover.jpg") no-repeat 40% 50%;
            background-size: contain;
			padding-top: 3rem;
    		padding-left: 6rem;
		}
	}
}
