*{
	margin: 0;
	padding: 0;
}
html{
	font-size: 16px;
	body{
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		position: relative;
		main{
			padding-top: 250px;
		}
	}
}
@media screen and (min-width: 501px){

}
@media screen and (min-width: 761px){
	body{
		position: relative;
	}
	
}
@media screen and (min-width: 991px){
	
}

