.accueil{
	h2{
    	font-family: 'Dancing Script', cursive;
		padding: 1rem;
    }
	p{
		font-family: 'Raleway', sans-serif;
		padding: 0 1rem 3rem 1rem;
	}
}
.sculpture, .peinture{
	h2{
    	font-family: 'Bad Script', cursive;
    	font-weight: 700;
		font-size: 1.5rem;
		text-align: center;
	}
	.Content{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		.col{
			width: 98%;
			border: 1px solid white;
			&.col1{
				article{
					img{
						width: 100%;
						height: auto;
					}
				}
			}
			&.col2{
				article{
					img{
						width: 80%;
						height: auto;
						display: block;
						margin: 0 auto;
					}
				}
			}
			&.col3{
				article{
					img{
						width: 90%;
						height: auto;
						display: block;
						margin: 0 auto;
					}
				}
			}
			h3{
				font-family: 'Bad Script', cursive;
				text-align: center;
			}
			p{
    			font-family: 'Bubbler One', sans-serif;
    			font-weight: 900;
    			padding: 0 1rem 3rem 1rem;
			}
		}
	}
}

@media screen and (min-width: 501px){
	.sculpture, .peinture{
		h2{
			font-size: 3.5rem;
		}
		.Content{
			.col{
				width: 48%;
				border: 2px solid white;
			}
		}
	}
}

@media screen and (min-width: 761px){
	.sculpture, .peinture{
		h2{
			font-size: 4rem;
		}
		.Content{
			.col{
				width: 30%;
				border: 3px solid white;
			}
		}
	}
}

@media screen and (min-width: 991px){
	.accueil, .scultpure, .peinture{
		h2{
			font-size: 1.6rem;
		}
	}
	.contact{
		.carte{
			img{
				width: 50%;
			}
		}
	}
}












